@model FoodsListViewModel

<h2>@Model.CurrentCategory</h2>

<div class="row">
    @foreach (var food in Model.Foods)
    {
        // var imagePath =  "" + food.FoodId + ".jpg" 
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="@food.ImageThumbnailUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@food.Name</h5>
                    <p class="card-text">@food.ShortDescription</p>
                    <h5 class="card-text">@food.Price.ToString() GBP</h5>
                    @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
                </div>
            </div>
        </div>
    }
</div>
@* @foreach (var food in Model.Foods) *@
@* { *@
@*     <div class="card" style="width: 18rem;"> *@
@*         <img src="..." class="card-img-top" alt="..."> *@
@*         <div class="card-body"> *@
@*             <h5 class="card-title">Card title</h5> *@
@*             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> *@
@*             <a href="#" class="btn btn-primary">Go somewhere</a> *@
@*         </div> *@
@*     </div> *@
    
    
    @* <div class="col-sm-4 col-lg-4 col-md-4"> *@
    @*     <div class="thumbnail"> *@
    @*         <img src="@food.ImageThumbnailUrl" alt=""> *@
    @*         <div class="caption"> *@
    @*             <h3> *@
    @*                 <a>@food.Name</a> *@
    @*             </h3> *@
    @*             <p>@food.ShortDescription</p> *@
    @*             <h3 class="pull-right">@food.Price.ToString()</h3> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    
    
    
    @* <div> *@
    @*     <h2>@food.Name</h2> *@
    @*     <h3>@food.Price</h3> *@
    @*     <h4>@food.Category.CategoryName</h4> *@
    @* </div> *@

